{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log Nilai Mahasiswa</title>
    <!-- GLOBAL MAINLY STYLES-->
    <link href="{% static 'assets/vendors/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}" rel="stylesheet" />
    <!-- PLUGINS STYLES-->
    <!-- <link href="{% static 'assets/vendors/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" /> -->
    <link href="{% static 'assets/vendors/DataTables/datatables.min.css' %}" rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="{% static 'assets/css/main.min.css' %}" rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
</head>

<body class="fixed-navbar">
    <div class="page-wrapper">
        <!-- START HEADER-->
        <header class="header">
            <div class="page-brand">
                <a class="link" href="{% url 'dashboard' %}">
                    <span class="brand">Sevranomatis v1.0
                        <span class="brand-tip"></span>
                    </span>
                    <span class="brand-mini">SV</span>
                </a>
            </div>
            <div class="flexbox flex-1">
                <!-- START TOP-LEFT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li>
                        <a class="nav-link sidebar-toggler js-sidebar-toggler"><i class="ti-menu"></i></a>
                    </li>
                </ul>
                <!-- END TOP-LEFT TOOLBAR-->
                <!-- START TOP-RIGHT TOOLBAR-->
                <ul class="nav navbar-toolbar">
                    <li class="dropdown dropdown-user">
                        <a class="nav-link dropdown-toggle link" data-toggle="dropdown">
                            <img src="{% static 'assets/img/admin-avatar.png' %}" />
                            <span></span>{{ dosen.nama }}<i class="fa fa-angle-down m-l-5"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <!-- <a class="dropdown-item" href="profile.html"><i class="fa fa-user"></i>Profile</a> -->
                            <button class="dropdown-item" data-toggle="modal" data-target="#pengaturan" data-nip="{{ dosen.nip }}" data-nama="{{ dosen.nama }}"><i
                                    class="fa fa-cog"></i>Settings</button>
                            <!-- <li class="dropdown-divider"></li> -->
                            <a class="dropdown-item" href="{% url 'logout-dosen' %}"><i
                                    class="fa fa-power-off"></i>Logout</a>
                        </ul>
                    </li>
                </ul>
                <!-- END TOP-RIGHT TOOLBAR-->
            </div>
        </header>
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        <nav class="page-sidebar" id="sidebar">
            <div id="sidebar-collapse">
                <div class="admin-block d-flex">
                    <div>
                        <img src="{% static 'assets/img/admin-avatar.png' %}" width="45px" />
                    </div>
                    <div class="admin-info">
                        <div class="font-strong">{{ dosen.nama }}</div>
                        <small>Dosen</small>
                    </div>
                </div>
                <ul class="side-menu metismenu">
                    <li>
                        <a class="active" href="{% url 'dashboard-dosen' %}"><i
                                class="sidebar-item-icon fa fa-th-large"></i>
                            <span class="nav-label">Dashboard</span>
                        </a>
                    </li>
                    <li class="heading">FEATURES</li>
                    <li>
                        <a href="{% url 'ampu-dosen' %}"><i class="sidebar-item-icon fa fa-bookmark-o"></i>
                            <span class="nav-label">Ampu Matkul</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'soal-dosen' %}"><i class="sidebar-item-icon fa fa-book"></i>
                            <span class="nav-label">Ujian</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{% url 'nilai-mahasiswa' %}"><i class="sidebar-item-icon fa fa-trophy"></i>
                            <span class="nav-label">Nilai Mahasiswa</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-heading">
                <h1 class="page-title">
                    <a href="{% url 'detail-nilai-mahasiswa' data_nilai.0.kd_soal.kd_soal %}"><i class="fa fa-arrow-circle-o-left"></i></a> Kode Nilai [{{ data_nilai.0.kd_nilai }}]</h1>
                <!-- <h6>{{ data_ujian.0.judul_soal }}</h6>
                <h6>{{ data_ujian.0.kd_ampu.kd_mk.mata_kuliah }} | Semester {{ data_ujian.0.kd_ampu.semester }} | Kelas {{ data_ujian.0.kd_ampu.kd_kelas.kelas }}</h6> -->
                <div class="card text-white bg-primary mb-3" style="max-width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ data_nilai.0.nim.nama }}</h5>
                        <p class="card-text">NIM.{{ data_nilai.0.nim.nim }} | Kelas {{ data_nilai.0.nim.kd_kelas.kelas }}</p>
                    </div>
                </div>
                <!-- <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">a</li>
                </ol> -->
            </div>
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Table</div>
                        <button class="btn btn-rounded btn-success" data-toggle="modal" data-target="#konfirmasi"><i
                                class="fa fa-trophy"></i>&nbsp; Konfirmasi Nilai</button>
                    </div>
                    <div class="ibox-body">
                        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Pertanyaan</th>
                                    <th>Jawaban</th>
                                    <th>Skor Akhir</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Pertanyaan</th>
                                    <th>Jawaban</th>
                                    <th>Skor Akhir</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for log in data_log %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ log.pertanyaan }}</td>
                                    <td>{{ log.jawaban }}</td>
                                    <td>{{ log.skor_akhir }}</td>
                                    <td>
                                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#skor" data-kd_log="{{ log.kd_log }}" data-skor1="{{ log.skor1 }}" data-skor2="{{ log.skor2 }}" data-skor3="{{ log.skor3 }}" data-skor_tertinggi="{{ log.skor_tertinggi }}" data-skor_ratarata="{{ log.skor_ratarata }}">
                                            <i class="fa fa-star-half-o"></i> Skor</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Modal Konfirmasi -->
                <div class="modal fade" id="konfirmasi" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-trophy"></i>
                                <h5 class="modal-title"><b>Konfirmasi Nilai</b></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form form id="modal-form-konfirmasi" action="{% url 'konfirm-nilai' %}" method="POST" role="form">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <p style="text-align: center;">TOTAL SKOR <b>{{ total_skor }}</b></p>
                                    <p style="text-align: center;">JUMLAH SOAL <b>{{ jumlah_soal }}</b></p>
                                    <p style="text-align: center;">NILAI YANG DIDAPAT <b>{{ nilai }}</b> DENGAN INDEX <b>{{ index }}</b></p>
                                    <input type="hidden" id="nilai" name="nilai" value="{{ nilai }}">
                                    <input type="hidden" id="index" name="index" value="{{ index }}">
                                    <input type="hidden" id="kd_nilai" name="kd_nilai" value="{{ kd_nilai }}">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal Skor -->
                <div class="modal fade" id="skor" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-star-half-o"></i>
                                <h5 class="modal-title" style="font-weight: bold;">Skor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="modal-form-skor" action="{% url 'skor-akhir' %}" method="POST" role="form">
                                    {% csrf_token %}
                                    <input type="hidden" class="form-control" id="kd_log" name="kd_log" value="">
                                    <div class="form-group">
                                        <label for="skor1" class="col-form-label">Skor 1 :</label>
                                        <input type="text" class="form-control" id="skor1" name="skor1" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="skor2" class="col-form-label">Skor 2 :</label>
                                        <input type="text" class="form-control" id="skor2" name="skor2" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="skor3" class="col-form-label">Skor 3 :</label>
                                        <input type="text" class="form-control" id="skor3" name="skor3" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="skor_tertinggi" class="col-form-label">Skor Tertinggi :</label>
                                        <input type="text" class="form-control" id="skor_tertinggi" name="skor_tertinggi" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="skor_ratarata" class="col-form-label">Skor Rata-Rata :</label>
                                        <input type="text" class="form-control" id="skor_ratarata" name="skor_ratarata" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="skor_akhir" class="form-control-label">Skor yang dipilih :</label>
                                        <select name="skor_akhir" class="form-control">
                                            <option value="1">Skor Tertinggi</option>
                                            <option value="2">Skor Rata-Rata</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-success">Kirim</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Modal Setting -->
                <div class="modal fade" id="pengaturan" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <i class="fa fa-cog"></i>
                                <h5 class="modal-title" style="font-weight: bold;">Settings</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="modal-form-pengaturan" action="{% url 'pengaturan-dosen' %}" method="POST" role="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="nip" class="col-form-label">NIP :</label>
                                        <input type="text" class="form-control" id="nip" name="nip" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="nama" class="col-form-label">Nama :</label>
                                        <input type="text" class="form-control" id="nama" name="nama" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Password : *tidak
                                            wajib</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-success">Ubah</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>

                <style>
                    .visitors-table tbody tr td:last-child {
                        display: flex;
                        align-items: center;
                    }
                    
                    .visitors-table .progress {
                        flex: 1;
                    }
                    
                    .visitors-table .progress-parcent {
                        text-align: right;
                        margin-left: 10px;
                    }
                </style>
                <!-- END PAGE CONTENT-->
                <footer class="page-footer">
                    <div class="font-13">
                        2020 © <b>Sevranomatis v1.0</b> - All rights reserved.
                    </div>
                    <div class="to-top"><i class="fa fa-angle-double-up"></i></div>
                </footer>
            </div>
        </div>
        <!-- BEGIN THEME CONFIG PANEL-->
        <div class="theme-config">
            <div class="theme-config-toggle">
                <i class="fa fa-cog theme-config-show"></i><i class="ti-close theme-config-close"></i>
            </div>
            <div class="theme-config-box">
                <div class="text-center font-18 m-b-20">SETTINGS</div>
                <div class="font-strong">LAYOUT OPTIONS</div>
                <div class="check-list m-b-20 m-t-10">
                    <label class="ui-checkbox ui-checkbox-gray">
                        <input id="_fixedNavbar" type="checkbox" checked />
                        <span class="input-span"></span>Fixed navbar</label>
                    <label class="ui-checkbox ui-checkbox-gray">
                        <input id="_fixedlayout" type="checkbox" />
                        <span class="input-span"></span>Fixed layout</label>
                    <label class="ui-checkbox ui-checkbox-gray">
                        <input class="js-sidebar-toggler" type="checkbox" />
                        <span class="input-span"></span>Collapse sidebar</label>
                </div>
                <div class="font-strong">LAYOUT STYLE</div>
                <div class="m-t-10">
                    <label class="ui-radio ui-radio-gray m-r-10">
                        <input type="radio" name="layout-style" value="" checked="" />
                        <span class="input-span"></span>Fluid</label>
                    <label class="ui-radio ui-radio-gray">
                        <input type="radio" name="layout-style" value="1" />
                        <span class="input-span"></span>Boxed</label>
                </div>
            </div>
        </div>
        <!-- END THEME CONFIG PANEL-->
        <!-- BEGIN PAGA BACKDROPS-->
        <div class="sidenav-backdrop backdrop"></div>
        <div class="preloader-backdrop">
            <div class="page-preloader">Loading</div>
        </div>
        <!-- END PAGA BACKDROPS-->
        <!-- CORE PLUGINS-->
        <script src="{% static 'assets/vendors/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/vendors/popper.js/dist/umd/popper.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/vendors/metisMenu/dist/metisMenu.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/vendors/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript">
        </script>
        <!-- PAGE LEVEL PLUGINS-->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- <script src="{% static 'assets/vendors/chart.js/dist/Chart.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-2.0.3.min.js' %}" type="text/javascript">
        </script>
        <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}" type="text/javascript"></script>
        <script src="{% static 'assets/vendors/jvectormap/jquery-jvectormap-us-aea-en.js' %}" type="text/javascript">
        </script> -->
        <script src="{% static 'assets/vendors/DataTables/datatables.min.js' %}" type="text/javascript"></script>
        <!-- CORE SCRIPTS-->
        <script src="{% static 'assets/js/app.min.js' %}" type="text/javascript"></script>
        <!-- PAGE LEVEL SCRIPTS-->
        <script type="text/javascript">
            $(function() {
                $('#example-table').DataTable({
                    pageLength: 10,
                    //"ajax": './assets/demo/data/table_data.json',
                    /*"columns": [
                        { "data": "name" },
                        { "data": "office" },
                        { "data": "extn" },
                        { "data": "start_date" },
                        { "data": "salary" }
                    ]*/
                });

                $('#skor').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    var skor1 = button.data('skor1') // Extract info from data-* attributes
                    var skor2 = button.data('skor2')
                    var skor3 = button.data('skor3')
                    var skor_tertinggi = button.data('skor_tertinggi')
                    var skor_ratarata = button.data('skor_ratarata')
                    var kd_log = button.data('kd_log')
                    console.log(kd_log)
                    var modal = $(this)
                    modal.find('.modal-body #kd_log').val(kd_log)
                    modal.find('.modal-body #skor1').val(skor1)
                    modal.find('.modal-body #skor2').val(skor2)
                    modal.find('.modal-body #skor3').val(skor3)
                    modal.find('.modal-body #skor_tertinggi').val(skor_tertinggi)
                    modal.find('.modal-body #skor_ratarata').val(skor_ratarata)
                });

                var formSkor = $('#modal-form-skor')
                formSkor.submit(function(e) {
                    e.preventDefault()

                    $.ajax({
                        url: formSkor.attr('action'),
                        type: "POST",
                        data: formSkor.serialize(),
                        dataType: "JSON",
                        success: function(res) {
                            console.log(res)
                            if (res.error == 0) {
                                $('#skor').modal('hide');
                                swal(
                                    'Berhasil',
                                    res.message,
                                    'success'
                                ).then(OK => {
                                    if (OK) {
                                        window.location.href =
                                            "{% url 'log-mahasiswa' data_nilai.0.kd_soal.kd_soal data_nilai.0.kd_nilai %}";
                                    }
                                });
                            } else {
                                $('#skor').modal('hide');
                                swal(
                                    'Gagal:(',
                                    res.message,
                                    'error'
                                ).then(OK => {
                                    if (OK) {
                                        window.location.href =
                                            "{% url 'log-mahasiswa' data_nilai.0.kd_soal.kd_soal data_nilai.0.kd_nilai %}";
                                    }
                                });
                            }
                        }
                    })
                })

                var formKonfirm = $('#modal-form-konfirmasi')
                formKonfirm.submit(function(e) {
                    e.preventDefault()

                    $.ajax({
                        url: formKonfirm.attr('action'),
                        type: "POST",
                        data: formKonfirm.serialize(),
                        dataType: "JSON",
                        success: function(res) {
                            console.log(res)
                            if (res.error == 0) {
                                $('#skor').modal('hide');
                                swal(
                                    'Berhasil',
                                    res.message,
                                    'success'
                                ).then(OK => {
                                    if (OK) {
                                        window.location.href =
                                            "{% url 'log-mahasiswa' data_nilai.0.kd_soal.kd_soal data_nilai.0.kd_nilai %}";
                                    }
                                });
                            } else {
                                $('#skor').modal('hide');
                                swal(
                                    'Gagal:(',
                                    res.message,
                                    'error'
                                ).then(OK => {
                                    if (OK) {
                                        window.location.href =
                                            "{% url 'log-mahasiswa' data_nilai.0.kd_soal.kd_soal data_nilai.0.kd_nilai %}";
                                    }
                                });
                            }
                        }
                    })

                })

                $('#pengaturan').on('show.bs.modal', function(event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    var nip = button.data('nip') // Extract info from data-* attributes
                    var nama = button.data('nama')
                        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                    var modal = $(this)
                    modal.find('.modal-body #nip').val(nip)
                    modal.find('.modal-body #nama').val(nama)
                });

                var formPengaturan = $('#modal-form-pengaturan')
                formPengaturan.submit(function(e) {
                    e.preventDefault()

                    $.ajax({
                        url: formPengaturan.attr('action'),
                        type: "POST",
                        data: formPengaturan.serialize(),
                        dataType: "JSON",
                        success: function(res) {
                            console.log(res)
                            if (res.error == 0) {
                                $('#pengaturan').modal('hide');
                                swal(
                                    'Berhasil',
                                    res.message,
                                    'success'
                                ).then(OK => {
                                    if (OK) {
                                        window.location.href =
                                            "{% url 'log-mahasiswa' data_nilai.0.kd_soal.kd_soal data_nilai.0.kd_nilai %}";
                                    }
                                });
                            } else {
                                $('#pengaturan').modal('hide');
                                swal(
                                    'Gagal:(',
                                    res.message,
                                    'error'
                                ).then(OK => {
                                    if (OK) {
                                        window.location.href =
                                            "{% url 'log-mahasiswa' data_nilai.0.kd_soal.kd_soal data_nilai.0.kd_nilai %}";
                                    }
                                });
                            }
                        }
                    })
                })

            })
        </script>
</body>

</html>