{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Admin Login</title>
    <!-- GLOBAL MAINLY STYLES-->

    <link href="{% static 'assets/vendors/bootstrap/dist/css/bootstrap.min.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %} " rel="stylesheet" />
    <link href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %} " rel="stylesheet" />
    <!-- THEME STYLES-->
    <link href="{% static 'assets/css/main.css' %} " rel="stylesheet" />
    <!-- PAGE LEVEL STYLES-->
    <link href="{% static 'assets/css/pages/auth-light.css' %} " rel="stylesheet" />
</head>

<body class="bg-silver-300">
    <div class="content">
        <!-- <div class="brand">
            <a class="link " href="{% url 'login' %}">Admin</a>
        </div> -->
        <br> <br>
        <form id="login-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h2 class="login-title ">Admin Login</h2>
            <div class="form-group ">
                <div class="input-group-icon right ">
                    <div class="input-icon "><i class="fa fa-user "></i></div>
                    <input class="form-control " type="text" name="username" placeholder="Username" autocomplete="off">
                </div>
            </div>
            <div class="form-group ">
                <div class="input-group-icon right ">
                    <div class="input-icon "><i class="fa fa-lock font-16 "></i></div>
                    <input class="form-control " type="password" name="password" placeholder="Password">
                </div>
            </div>
            {% if data %}
            <p class=" label label-danger">
                <span class="fa fa-close"></span> Login Gagal! Username atau Password Salah. </p>
            {% endif %}
            <!-- <div class="form-group d-flex justify-content-between ">
                <label class="ui-checkbox ui-checkbox-info ">
                    <input type="checkbox ">
                    <span class="input-span "></span>Remember me</label>
                <a href="forgot_password.html ">Forgot password?</a>
    </div> -->
            <!-- {% if form.errors %}
            <p class=" label label-danger">
                Your username and password didn't match. Please try again.
            </p>
            {% endif %} -->

            <div class="form-group ">
                <input class="btn btn-info btn-block" type="submit" value="Login">
            </div>
            <br>
            <!-- <div class="social-auth-hr ">
                <span>Or login with</span>
            </div> -->
            <!-- <div class="text-center social-auth m-b-20 ">
                <a class="btn btn-social-icon btn-twitter m-r-5 " href="javascript:; "><i class="fa fa-twitter"></i></a>
                <a class="btn btn-social-icon btn-facebook m-r-5 " href="javascript:; "><i
                        class="fa fa-facebook"></i></a>
                <a class="btn btn-social-icon btn-google m-r-5 " href="javascript:; "><i
                        class="fa fa-google-plus"></i></a>
                <a class="btn btn-social-icon btn-linkedin m-r-5 " href="javascript:; "><i
                        class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-vk " href="javascript:; "><i class="fa fa-vk "></i></a>
            </div>
            <div class="text-center ">Not a member?
                <a class="color-blue " href="register.html ">Create accaunt</a>
            </div> -->
        </form>
        <br>

        <h6 class="login-title">SEVRANOMATIS v1.0 - 2020</h6>
    </div>
    <!-- BEGIN PAGA BACKDROPS-->
    <div class="sidenav-backdrop backdrop "></div>
    <div class="preloader-backdrop ">
        <div class="page-preloader ">Loading</div>
    </div>
    <!-- END PAGA BACKDROPS-->
    <!-- CORE PLUGINS -->
    <script src="{% static 'assets/vendors/jquery/dist/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/vendors/popper.js/dist/umd/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/vendors/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>
    <!-- PAGE LEVEL PLUGINS -->
    <script src="{% static 'assets/vendors/jquery-validation/dist/jquery.validate.min.js' %}" type="text/javascript">
    </script>
    <!-- CORE SCRIPTS-->
    <script src="{% static 'assets/js/app.js' %}" type="text/javascript"></script>
    <!-- PAGE LEVEL SCRIPTS-->
    <script type="text/javascript ">
        $(function() {
            $('#login-form').validate({
                errorClass: "help-block",
                rules: {
                    username: {
                        required: true
                    },
                    password: {
                        required: true
                    }
                },
                highlight: function(e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function(e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });
    </script>
</body>

</html>

</html>